# Tests y coverage
node_modules
coverage/
.nyc_output/

# Dependencias innecesarias
node_modules/
npm-debug.log

# Archivos de desarrollo
.git
.gitignore
Dockerfile
docker-compose.yml

# Entorno
.env
.env.*

# Docker y config de infraestructura
docker/
config/
docs/