node_modules/

.env.mongo
.env.postgres
.env.*

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

coverage/

dist/
build/
out/

.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp

.cache/