events {}

http {
  upstream api_service {
    server api:5001;
  }

  upstream search_service {
    server search:5002;
  }

  server {
    listen 80;

    #  api
    location /api/ {
      proxy_pass http://api_service/;
    }

    #  search
    location /search/ {
      proxy_pass http://search_service/;
    }
  }
}